<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <meta charset="utf-8">
    <title>nouvelle espèce</title>
</head>

<body>
    <ul>
        <li><a href="/person">Liste des personnes</a></li>
        <li><a href="/animal">Liste des animaux</a></li>
        <li><a class="active" href="/species">Liste des espèces</a></li>
    </ul>

    <h1>NOUVELLE ESPECE</h1>

    <form th:object="${species}" th:action="@{/species}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="commonName">Nom Commun : </label>
            <input type="text" th:field="*{commonName}" id="commonName" />
        </div>
        <span class="error" th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}">Error</span>

        <div>
            <label for="latinName">Nom latin :</label>
            <input type="text" th:field="*{latinName}" id="latinName" />
        </div>
        <span class="error" th:if="${#fields.hasErrors('latinName')}" th:errors="*{latinName}">Error</span>
        
        <div>
            <input type="submit" class="button" value="Sauver" />
            <input type="button" class="button" value="Retour" onclick="window.location='/species'" />
        </div>
    </form>
</body>