<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <meta charset="utf-8">
    <title>Liste des Personnes</title>
</head>

<body>
    <ul>
        <li><a class="active" href="/person">Liste des personnes</a></li>
        <li><a href="/animal">Liste des animaux</a></li>
        <li><a href="/species">Liste des espèces</a></li>
    </ul>

    <h1>LISTE DES PERSONNES</h1>
    <table class="mainTable">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="personItem : ${personList}">
                <td th:text="${personItem.firstname}" />
                <td th:text="${personItem.lastname}" />
                <td th:text="${personItem.age}" />
                <td><a th:href="@{'/person/' + ${personItem.id}}">📝</a></td>
                <td>
                    <a th:href="@{'/person/delete/' + ${personItem.id}}"
                        onclick="return confirm('Êtes-vous sûr ?')">🗑️</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" onclick="window.location='/person/create'">➕ Ajouter une personne</button>
</body>