<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
    <meta charset="utf-8">
    <title>nouvelle personne</title>
</head>

<body>
    <ul>
        <li><a class="active" href="/person">Liste des personnes</a></li>
        <li><a href="/animal">Liste des animaux</a></li>
        <li><a href="/species">Liste des espèces</a></li>
    </ul>

    <h1>NOUVELLE PERSONNE</h1>
    
    <form th:object="${person}" th:action="@{/person}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="firstname">Prénom : </label>
            <input type="text" th:field="*{firstname}" id="firstname" />
            <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Error</span>
        </div>
        <div>
            <label for="lastname">Nom :</label>
            <input type="text" th:field="*{lastname}" id="lastname" />
            <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Error</span>
        </div>
        <div>
            <label for="age">Age :</label>
            <input type="text" th:field="*{age}" id="age" />
        </div>
        <div>
            <input type="submit" class="button" value="Sauver" />
            <input type="button" class="button" value="Retour" onclick="window.location='/person'" />
        </div>
    </form>
</body>