body {
  background: lightgrey;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: #333;
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover and not active */
li a:not(.active):hover {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

h1,
button,
select {
  margin: 20px;
  padding: 10px;
}

input {
  margin-top: 20px;
  padding: 10px;
}

table,
th,
td {
  margin: auto;
  padding: 10px;
  border: 1px solid;
  text-align: center;
  background-color: whitesmoke;
}

.error {
  color: red;
  font-size: small;
}